[Unit]
Description=status uWSGI app
After=syslog.target

[Service]
WorkingDirectory=/home/pi/status
ExecStart=/home/pi/status/env/bin/uwsgi \
        --ini /home/pi/status/uwsgi.ini
User=pi
Group=pi
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
